@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Program> Localizer
@model AdvancedProgramming_Lesson2.Models.Movie

@{ ViewData["Title"] = "Details"; }

<h1>@Localizer["Details"]</h1>

<div>
    <h4>@Localizer["Movie"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Title"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Localizer["ReleaseDate"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Genre"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Price"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Country"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Lenght"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Lenght)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["Back"]</a>
</div>
